# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Node
node_modules/

# macOS
.DS_Store

# Linux
*.swp

# Windows
Thumbs.db
ehthumbs.db

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Pipenv
Pipfile.lock

# Coverage reports
.coverage
.coverage.*
nosetests.xml
test_*.xml
